# Ignore node_modules (for Node.js projects)
node_modules/

# Ignore environment files


# Ignore logs
logs/
*.log

# Ignore build and dependency files
dist/
build/
.DS_Store

# Ignore IDE/Editor specific files
.vscode/
.idea/
*.swp
